<div class="container mx-auto p-4">
  <!--<h2>Patient Details</h2>
  <nav>
    <ul>
      <li><a routerLink="info">Patient Info</a></li>
      <li><a routerLink="medical-records">Medical Records</a></li>
      <li><a routerLink="allergies">Allergies</a></li>
      <li><a routerLink="medications">Medications</a></li>
      <li><a routerLink="lab-results">Lab Results</a></li>
      <li><a routerLink="visits">Visits</a></li>
    </ul>
  </nav>-->
  <div class="d-flex align-items-center justify-content-between flex-wrap mb-4">
    <!-- Title -->
    <h1 class="h4 fw-bold mb-0">
      Patient List {{ currentUser.firstName }} {{ currentUser.lastName }}
    </h1>

    <!-- Search -->
    <input
      type="text"
      class="form-control mx-3"
      style="max-width: 250px"
      placeholder="Search patients..."
      (input)="filterPatients($event)"
    />

    <!-- Buttons -->
    <div class="d-flex gap-2">
      <button [routerLink]="['/patient-form']" class="btn btn-secondary">
        Add New Patient
      </button>

      <button [routerLink]="['/waitingList']" class="btn btn-success">
        Waiting List
      </button>
      <button
        *ngIf="isMainForm"
        (click)="backClicked()"
        class="btn btn-outline-danger"
      >
        <i class="bi bi-arrow-left-square"></i>
        Go Back
      </button>
    </div>
  </div>

  <!-- Loading -->
  <div *ngIf="loading" class="text-center">
    <p>Loading patients...</p>
  </div>

  <div
    *ngIf="error"
    class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-4"
  >
    {{ error }}
  </div>

  <div
    *ngIf="!loading && filteredPatients.length === 0"
    class="text-center py-4"
  >
    No patients found.
  </div>
  <div *ngIf="!loading && !error" class="card">
    <div class="scrollable-table">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>DateOfBirth</th>
            <th>Gender</th>
            <th>DoctorName</th>
            <th>CreatedAt</th>
            <th>Contact Nu.</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let patient of filteredPatients">
            <td>{{ patient.id }}</td>
            <td>{{ patient.firstName }} {{ patient.lastName }}</td>
            <td>{{ patient.dateOfBirth | date : "dd.MM.yyyy" }}</td>
            <td>
              {{ patient.genderID | gender }}
            </td>

            <td>{{ patient.patientDoctorName }}</td>

            <td>{{ patient.registrationDate | date : "dd.MM.yyyy" }}</td>
            <td>{{ patient.contactNumber }}</td>
            <td>
              <a
                [routerLink]="['/appointments']"
                class="btn btn btn-success btn-sm me-2"
                >Appointments</a
              >

              <button
                class="btn btn-sm btn-info me-1"
                (click)="viewPatientDetailsInfo(patient)"
              >
                View Info
              </button>
              <!-- Add this button -->
              <button
                class="btn btn-sm btn-primary me-1"
                [routerLink]="['/patients', patient.id, 'vital-signs']"
              >
                <i class="bi bi-heart-pulse"></i> Vitals
              </button>
              <a
                [routerLink]="['/patient/edit', patient.id]"
                class="btn btn-warning btn-sm me-2"
                >Edit</a
              >
              <button
                (click)="deletePatient(patient.id!, $event)"
                class="btn btn-danger btn-sm"
              >
                Delete
              </button>
            </td>
          </tr>
          <tr *ngIf="patients.length === 0">
            <td colspan="8" class="text-center">No patients available</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
