<div class="container mx-auto p-4">
  <h2>Patient Details</h2>
  <nav>
    <ul>
      <li><a routerLink="info">Patient Info</a></li>
      <li><a routerLink="medical-records">Medical Records</a></li>
      <li><a routerLink="allergies">Allergies</a></li>
      <li><a routerLink="medications">Medications</a></li>
      <li><a routerLink="lab-results">Lab Results</a></li>
      <li><a routerLink="visits">Visits</a></li>
    </ul>
  </nav>
  <h1 class="text-2xl font-bold justify-content-between">
    Patient List {{ currentUser?.firstName }} {{ currentUser?.lastName }}
  </h1>
  <!--<div class="d-flex bd-highlight mb-3 buttom">-->
  <div class="d-flex justify-content-between mt-6">
    <div class="me-auto p-2 bd-highlight">
      <input
        class="mb-10"
        type="text"
        placeholder="Search patients..."
        class="p-2 border rounded w-full"
        (input)="filterPatients($event)"
      />
    </div>
    <div class="p-2 bd-highlight">
      <button
        [routerLink]="['/patient-form']"
        class="btn btn-secondary"
        style="margin-right: 10px"
      >
        Add New Patient
      </button>

      <button
        [routerLink]="['/waitingList']"
        class="btn btn btn-success"
        style="margin-right: 10px"
      >
        waiting List
      </button>
    </div>
  </div>
  <div *ngIf="loading" class="text-center">
    <p>Loading patients...</p>
  </div>

  <div
    *ngIf="error"
    class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-4"
  >
    {{ error }}
  </div>

  <div
    *ngIf="!loading && filteredPatients.length === 0"
    class="text-center py-4"
  >
    No patients found.
  </div>
  <div *ngIf="!loading && !error" class="card">
    <div class="scrollable-table">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>DateOfBirth</th>
            <th>Gender</th>
            <th>DoctorName</th>
            <th>CreatedAt</th>
            <th>Contact Nu.</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let patient of filteredPatients">
            <td>{{ patient.id }}</td>
            <td>{{ patient.firstName }}{{ patient.lastName }}</td>
            <td>{{ patient.dateOfBirth | date : "dd.MM.yyyy" }}</td>
            <td>
              {{ patient.genderID | gender }}
            </td>

            <td>{{ patient.patientDoctorName }}</td>

            <td>{{ patient.registrationDate | date : "dd.MM.yyyy" }}</td>
            <td>{{ patient.contactNumber }}</td>
            <td>
              <a
                [routerLink]="['/appointments']"
                class="btn btn btn-success btn-sm me-2"
                >Appointments</a
              >

              <a
                [routerLink]="['/api/patients', patient.id]"
                class="btn btn-info btn-sm me-2"
                >View</a
              >
              <a
                [routerLink]="['/patient', patient.id, 'edit']"
                class="btn btn-warning btn-sm me-2"
                >Edit</a
              >
              <button
                (click)="deletePatient(patient.id!, $event)"
                class="btn btn-danger btn-sm"
              >
                Delete
              </button>
            </td>
          </tr>
          <tr *ngIf="patients.length === 0">
            <td colspan="8" class="text-center">No patients available</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
