<div class="d-flex justify-content-between align-items-center mb-3">
  <!-- Status Filter Dropdown -->
  <h2 class="h5">Today's Waiting List</h2>
  <p>Total Waitings loaded: {{ waitingPatient.length }}</p>
  <button (click)="loadWaitingList()" class="btn btn-sm btn-success me-2">
    Refresh List
  </button>
  <app-status-filter
    [selectedStatus]="selectedStatus"
    (statusChange)="selectedStatus = $event"
  >
  </app-status-filter>
</div>

<div *ngIf="!loading && waitingPatient.length > 0 && !error" class="card">
  <table class="table table-bordered table-striped table-hover patients-table">
    <thead class="table-light">
      <tr>
        <th>Patient Name</th>
        <th>Appointment Time</th>
        <th>Arrival Time</th>
        <th>Wait Time</th>
        <th>The Reason</th>
        <th>Status</th>
        <th>Doctor</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let waitingList of onStatusChange(selectedStatus)"
        [class]="waitingList?.appointment?.status || ''"
      >
        <td>
          {{ waitingList.patientFirstName }}
          {{ waitingList.patientLastName }}
        </td>

        <td>
          {{ waitingList?.appointment?.startTime | date : "shortTime" }}
        </td>
        <td>
          <span *ngIf="!waitingList.appointment.status"> Not arrived </span>
          <span
            *ngIf="
              waitingList.appointment.status === 'Waiting' ||
              waitingList.appointment.status === 'InProgress' ||
              waitingList.appointment.status === 'Completed'
            "
          >
            {{ waitingList.arrivalTime | date : "shortTime" }}
          </span>
        </td>
        <td>{{ waitingList.waitTime }} minutes</td>
        <td>
          <span
            class="status-badge status-{{
              waitingList?.appointment?.type || 'Unknown'
            }}"
          >
            {{ waitingList?.appointment?.type || "Unknown" }}
          </span>
        </td>
        <td>
          <span
            class="status-badge status-{{
              waitingList?.appointment?.status || 'Unknown'
            }}"
          >
            {{ waitingList?.appointment?.status || "Unknown" }}
          </span>
        </td>
        <td>
          {{ waitingList?.appointment?.providerFirstName }}
          {{ waitingList?.appointment?.providerLastName }}
        </td>
        <td class="actions-cell">
          <button
            *ngIf="
              waitingList.appointment.status !== 'Waiting' &&
              waitingList.appointment.status !== 'InProgress' &&
              waitingList.appointment.status !== 'Completed' &&
              waitingList.appointment.status !== 'NoShow'
            "
            (click)="checkInPatient(waitingList)"
            class="btn btn-sm btn-success me-2"
          >
            Check In
          </button>
          <button
            *ngIf="waitingList.appointment.status === 'Waiting'"
            (click)="updateStatus(waitingList, 'InProgress')"
            class="btn btn-sm btn-success me-2"
          >
            Start
          </button>
          <button
            *ngIf="waitingList.appointment.status === 'InProgress'"
            (click)="updateStatus(waitingList, 'Completed')"
            class="btn btn-sm btn-danger me-2"
          >
            Complete
          </button>
          <button
            *ngIf="waitingList.appointment.status === 'Waiting'"
            (click)="updateStatus(waitingList, 'NoShow')"
            class="btn btn-sm btn-danger me-2"
          >
            No Show
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
