.register-container {
  max-width: 900px;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}
.register-container h2 {
  text-align: center;
  margin-bottom: 10px;
  color: #333;
}

.form-group {
  flex: 1; // Adjusts the width of the form group
  display: flex;
  flex-direction: column;
  margin-bottom: 2px;
}

.form-group label {
  width: 170px;
  display: block;
  margin-bottom: 2px;

  color: #555;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 5px;
}

.form-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 5px; // Adjusts the space between the two form groups
  justify-content: center;
}
.form-group .error {
  color: red;
  margin-top: 5px;
  font-size: 12px;
}

button[type="submit"] {
  width: 98%;
  height: 40px;
  margin: 0 auto;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:disabled {
  background-color: #ccc;
}

.error {
  color: red;
  text-align: center;
  margin-top: 10px;
}

p {
  text-align: center;
}

p a {
  color: #007bff;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}
