<div class="container mt-4">
  <div class="row align-items-center">
    <div class="col-auto">
      <button (click)="backClicked()" class="btn btn-success">
        <span class="bi bi-arrow-left-square"></span>
        Go Back
      </button>
    </div>

    <div class="col text-center">
      <h2 class="mb-0">
        Medical Record for {{ patient?.firstName }} {{ patient?.lastName }} By
        {{ currentUser.firstName }} {{ currentUser.lastName }}
      </h2>
    </div>

    <div class="col-auto">
      <div *ngIf="loading" class="alert alert-info mb-0 p-2">Loading...</div>
      <div *ngIf="error" class="alert alert-danger mb-0 p-2">
        {{ error }}
      </div>
    </div>
  </div>
  <form
    [formGroup]="medicalRecordForm"
    (ngSubmit)="onSubmit()"
    *ngIf="!loading"
  >
    <!-- Two column layout -->
    <div class="row">
      <!-- Column 1: Physical Information and Medical History -->
      <div class="col-md-6">
        <!-- Physical Information Card -->
        <div class="card mb-4">
          <div class="card-header">
            <h3 class="mb-0">Physical Information</h3>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4 mb-1">
                <label for="height">Height (cm)</label>
                <input
                  type="number"
                  class="form-control"
                  id="height"
                  formControlName="height"
                  (input)="updateBMI()"
                />
                <div
                  *ngIf="
                    formControls['height'].invalid &&
                    formControls['height'].touched
                  "
                  class="text-danger"
                >
                  Height is required
                </div>
              </div>

              <div class="col-md-4 mb-1">
                <label for="weight">Weight (kg)</label>
                <input
                  type="number"
                  class="form-control"
                  id="weight"
                  formControlName="weight"
                  (input)="updateBMI()"
                />
                <div
                  *ngIf="
                    formControls['weight'].invalid &&
                    formControls['weight'].touched
                  "
                  class="text-danger"
                >
                  Weight is required
                </div>
              </div>

              <div class="col-md-4 mb-1">
                <label for="bmi">BMI</label>
                <input
                  type="number"
                  class="form-control"
                  id="bmi"
                  formControlName="bmi"
                  readonly
                />
                <small class="form-text text-muted"
                  >Automatically calculated</small
                >
              </div>
            </div>

            <div class="mb-0">
              <label for="bloodType">Blood Type</label>
              <select
                class="form-control"
                id="bloodType"
                formControlName="bloodType"
              >
                <option value="">Select Blood Type</option>
                <option value="A+">A+</option>
                <option value="A-">A-</option>
                <option value="B+">B+</option>
                <option value="B-">B-</option>
                <option value="AB+">AB+</option>
                <option value="AB-">AB-</option>
                <option value="O+">O+</option>
                <option value="O-">O-</option>
              </select>
            </div>
          </div>
        </div>

        <!-- Medical History Card -->
        <div class="card mb-0">
          <div class="card-header">
            <h3 class="mb-0">Medical History</h3>
          </div>
          <div class="card-body">
            <div class="mb-0">
              <label for="chronicConditions">Chronic Conditions</label>
              <textarea
                class="form-control"
                id="chronicConditions"
                rows="3"
                formControlName="chronicConditions"
              ></textarea>
            </div>

            <div class="mb-0">
              <label for="surgicalHistory">Surgical History</label>
              <textarea
                class="form-control"
                id="surgicalHistory"
                rows="3"
                formControlName="surgicalHistory"
              ></textarea>
            </div>

            <div class="mb-0">
              <label for="familyMedicalHistory">Family Medical History</label>
              <textarea
                class="form-control"
                id="familyMedicalHistory"
                rows="3"
                formControlName="familyMedicalHistory"
              ></textarea>
            </div>

            <div class="mb-0">
              <label for="socialHistory">Social History</label>
              <textarea
                class="form-control"
                id="socialHistory"
                rows="3"
                formControlName="socialHistory"
              ></textarea>
            </div>
          </div>
        </div>
      </div>

      <!-- Column 2: Patient Visit -->
      <div class="col-md-6">
        <div *ngIf="!idToPass" class="alert alert-info">
          Please input a medical record first.
        </div>
        <app-patient-visit
          *ngIf="idToPass"
          [medicalRecordId]="idToPass"
        ></app-patient-visit>
      </div>
    </div>
    <!-- Submit Button and Feedback -->
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="medicalRecordForm.invalid || saving"
    >
      {{ recordExists ? "Update" : "Create" }} Medical Record
    </button>
    <div *ngIf="saving" class="mt-2">Saving...</div>
    <div *ngIf="saveSuccess" class="alert alert-success mt-3">
      Medical record saved successfully!
    </div>
  </form>
</div>
