<div class="appointment-container">
  <div
    *ngIf="errorMessage"
    class="alert alert-danger alert-dismissible fade show"
    role="alert"
  >
    {{ errorMessage }}
    <button
      type="button"
      class="btn-close"
      (click)="errorMessage = null"
    ></button>
  </div>
  <div
    *ngIf="successMessage"
    class="alert alert-success alert-dismissible fade show"
    role="alert"
  >
    {{ successMessage }}
    <button
      type="button"
      class="btn-close"
      (click)="successMessage = null"
    ></button>
  </div>
  <div *ngIf="updateSuccess" class="success-message">
    Information updated successfully!
  </div>
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="h5">All Appointments</h2>
    <p>Total Appointments: {{ appointments.length }}</p>
    <app-status-filter
      [selectedStatus]="selectedStatus"
      (statusChange)="selectedStatus = $event"
    >
    </app-status-filter>
    <button class="btn btn-primary" (click)="showNewAppointmentForm = true">
      + New Appointment
    </button>
  </div>

  <div *ngIf="showNewAppointmentForm" class="modal fade show d-block">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Schedule New Appointment</h3>
          <button
            type="button"
            class="btn-close"
            (click)="showNewAppointmentForm = false"
          ></button>
        </div>
        <div class="modal-body">
          <form
            [formGroup]="appointmentForm"
            (ngSubmit)="scheduleNewAppointment()"
          >
            <div class="mb-3">
              <label class="form-label">Patient</label>
              <select class="form-select" formControlName="patientId">
                <option [ngValue]="null">Select Patient</option>
                <option *ngFor="let patient of patients" [ngValue]="patient.id">
                  {{ patient.firstName }} {{ patient.lastName }}
                </option>
              </select>
            </div>
            <div class="mb-3">
              <label class="form-label">Doctor</label>
              <select class="form-select" formControlName="doctorId">
                <option [ngValue]="null">Select Doctor</option>
                <option
                  *ngFor="let doctor of doctors"
                  [ngValue]="doctor.userID"
                >
                  Dr. {{ doctor.firstName }} {{ doctor.lastName }}
                  <span *ngIf="doctor.specialist"
                    >({{ doctor.specialist }})</span
                  >
                </option>
              </select>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label class="form-label"> start Date</label>
                <input
                  type="date"
                  class="form-control"
                  formControlName="appointmentDate"
                />
              </div>
              <div class="col-md-6 mb-3">
                <label class="form-label">Time</label>
                <input
                  type="time"
                  class="form-control"
                  formControlName="appointmentTime"
                />
              </div>
            </div>

            <div class="mb-3">
              <label class="form-label">Reason</label>
              <select class="form-select" formControlName="appointmentType">
                <option [ngValue]="null">Select Reason</option>
                <option *ngFor="let type of appointmentTypes" [ngValue]="type">
                  {{ type.label }}
                </option>
              </select>
            </div>
            <div class="mb-3">
              <label class="form-label">Status</label>
              <select class="form-select" formControlName="appointmentStatus">
                <option [ngValue]="null">Select Status</option>
                <option
                  *ngFor="let status of appointmentStatuses"
                  [ngValue]="status"
                >
                  {{ status.label }}
                </option>
              </select>
            </div>
            <div class="mb-3">
              <label class="form-label">Notes</label>
              <textarea
                class="form-control"
                formControlName="notes"
                rows="3"
              ></textarea>
            </div>

            <div class="d-flex justify-content-end">
              <button
                type="button"
                class="btn btn-secondary me-2"
                (click)="showNewAppointmentForm = false"
              >
                Cancel
              </button>
              <button
                type="submit"
                class="btn btn-success"
                [disabled]="appointmentForm.invalid"
              >
                Schedule
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="table-responsive p-2 border rounded">
    <table
      class="table table-bordered table-striped table-hover patients-table"
    >
      <thead class="table-light">
        <tr>
          <th class="th-spacing">Today's</th>
          <th class="th-spacing">Time</th>
          <th>Patient</th>
          <th>The Reason</th>
          <th>Last Visit</th>
          <th>Doctor</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let appointment of onStatusChange(selectedStatus)"
          [class]="appointment.status"
        >
          <td>
            <span class="dateSpace"
              >📅 {{ appointment.startTime | date : "yyyy-MM-dd" }}</span
            >
          </td>
          <td>
            <span class="time"
              >⌚{{ appointment.startTime | date : "HH:mm" }}</span
            >
          </td>
          <td>
            {{ appointment.patientFirstName }}
            {{ appointment.patientLastName }}
          </td>

          <td>{{ getTypeLabel(appointment.type) }}</td>

          <td>
            {{ appointment.lastVisitDate | date : "yyyy/MM/dd" }}
          </td>
          <td>
            Dr. {{ appointment.providerFirstName }}
            {{ appointment.providerLastName }}
          </td>
          <td>
            <span class="badge bg-info">{{
              getStatusLabel(appointment.status)
            }}</span>
          </td>
          <td>
            <button
              class="btn btn-sm btn-danger me-1"
              (click)="updateStatus(appointment.id, 'Completed')"
            >
              Complete
            </button>
            <button
              class="btn btn-sm btn-success me-1"
              (click)="updateStatus(appointment.id, 'Cancelled')"
            >
              Cancel
            </button>
            <button
              class="btn btn-sm btn-info me-1"
              (click)="openPatientRecord(appointment)"
            >
              View Record
            </button>
            <button
              class="btn btn-sm btn-info me-1"
              (click)="updateAppointment(appointment)"
            >
              Update Appointment
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
