.home {
  background-image: url("assets/images/62798.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh; /* Adjust the height to your needs */
} /* You can add global styles to this file, and also import other style files */
